{% extends 'base.html' %}
{% block name %}Главная страница{% endblock %}

{% block content %}
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
            <th>Спортсмен</th>
            <th>Дистанция</th>
            <th>Дорожка</th>
            <th>Время забега</th>
            <th>Номер забега</th>
            <th>Итоговое время</th>
            <th>Место</th>
        </tr>
    </thead>
    <tbody>
        {% for race in races %}
           <tr>
                <td>{{race.sportsmen}}</td>
                <td>{{race.distance}}</td>
                <td>{{race.track}}</td>
                <td>{{race.time}}</td>
                <td>{{race.number}}</td>
                <td>{{race.result_time}}</td>
                <td>{{race.place}}</td>
           </tr>
       {% endfor %}
        </tbody>
    </table>
</div>
    <form method="post" action="/races">
        {% csrf_token %}
        <p>Время старта забегов (ЧЧ:ММ) <input type="time" name="stime"></p>
        <p>Время между забегам (ММ:CC) <input type="time" name="btime"></p>
        <p>Колличество дорожек <input type="number" name="tracks"></p>
        <input type="submit" value="Отправить">
    </form>
{% endblock %}
